/*
 * Copyright (c) 2025 MediaTek Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <mem.h>
#include <mediatek/mt8188.dtsi>

#include "mt8390_genio_700_evk-pinctrl.dtsi"

/ {
	model = "MediaTek Genio 700 EVK";
	compatible = "mediatek,mt8390-genio-700-evk";

	chosen {
		zephyr,console = &uart1;
		zephyr,sram = &dram;
	};

	/*
	 * Zephyr is handed a single A55 core and the memory window below by the
	 * hypervisor; the remaining cores and memory stay with the host.
	 */
	cpus {
		cpu@0 {
			status = "disabled";
		};

		cpu@100 {
			status = "disabled";
		};

		cpu@200 {
			status = "disabled";
		};
	};

	dram: memory@8000 {
		reg = <0x00008000 DT_SIZE_M(2)>;
	};
};

&uart1 {
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};
